<div class="about">
  <h1>About me</h1>

  <p>
    Hi. I'm Mikey.
  </p>

  <p>
    I'm a computer engineering student from Mexico. I spend most of my time on Linux,
    messing with systems, and building things from scratch. I don't really follow trends
    or whatever is supposed to be "the right way" to build things, if something interests me,
    I just dive into it and figure it out as I go.
  </p>

  <p>
    Most of my projects start as small ideas or experiments and slowly turn into something bigger.
    Sometimes they work, sometimes they don't, but that's not really the point.
  </p>

  <p>
    I spend a lot of time listening to music, playing games, and going down random internet rabbit holes
    that somehow always turn into new ideas. I don't really like what the modern web has become,
    so this site is my way of doing things differently.
  </p>

  <p>
    Nothing here is really finished, and that's kind of the point.
  </p>
</div>