@font-face {
  font-family: 'Pixelify Sans';
  src: url('../fonts/PixelifySans.ttf') format('truetype');
}

@font-face {
  font-family: 'Alagard';
  src: url('../fonts/alagard.ttf') format('truetype');
}

@font-face {
  font-family: 'Silkscreen';
  src: url('../fonts/Silkscreen.ttf') format('truetype');
}

/* UI / navegación / pequeños elementos */
.retro-menu,
.retro-menu__title,
.retro-menu__link,
.retro-menu__summary,
.retro-menu__sublink,
.window h3,
.site-footer,
.window p,
.window ul,
.window span,
.window div {
  font-family: var(--font-ui);
  font-size: var(--ui-size);
  line-height: 1.4;
}

.main h1,
.main h2 {
  font-family: var(--font-display);
  letter-spacing: 0.3px;
}

.main p {
  letter-spacing: 0.5px;
}

.retro-menu__title{
  text-transform: uppercase;
}

.retro-menu__sublink::before{
  content: "*";
  font-family: var(--font-pixel);
}

.site-footer__pill .sym{
  font-family: var(--font-pixel);
}
