<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/main.css" />
    <script defer src="/assets/scripts/buttons-widget.js"></script>
    <script defer src="/assets/scripts/time-widget.js"></script>
    <script defer src="/assets/scripts/currently-widget.js"></script>
    <script defer src="/assets/scripts/projects-widget.js"></script>
    <script defer src="/assets/scripts/wip-widget.js"></script>
  </head>

  <body class="wip-page">
    <div class="wip-container">
      {{ content }}
    </div>
  </body>
</html>
