<!-- Widget web revival buttons -->
<fieldset class="widget window web-revival" id="web-revival" aria-label="cool stuff">
  <legend class="widget__title">
    <img class="widget__icon is-floaty" src="/assets/icons/web.png" alt="" />
    cool stuff
  </legend>

  <div class="widget__body web-revival__body">
    <div class="web-revival__carousel web-revival__carousel--banners" data-speed="0.22" data-direction="right">
      <div class="web-revival__track">
        <div class="web-revival__button web-revival__button--banner" aria-label="24hours banner">
          <img src="/assets/public/banners/24hours.gif" alt="24hours banner" />
        </div>
        <div class="web-revival__button web-revival__button--banner" aria-label="HTML junkie banner">
          <img src="/assets/public/banners/HTML-junkie_blink.gif" alt="HTML junkie banner" />
        </div>
        <div class="web-revival__button web-revival__button--banner" aria-label="bad website banner">
          <img src="/assets/public/banners/badwebsite.gif" alt="bad website banner" />
        </div>
        <div class="web-revival__button web-revival__button--banner" aria-label="be kind banner">
          <img src="/assets/public/banners/bekind.gif" alt="be kind banner" />
        </div>
        <div class="web-revival__button web-revival__button--banner" aria-label="cant live without banner">
          <img src="/assets/public/banners/cantlivewithout.gif" alt="cant live without banner" />
        </div>
        <div class="web-revival__button web-revival__button--banner" aria-label="dvd banner">
          <img src="/assets/public/banners/dvd_blink.gif" alt="dvd banner" />
        </div>
        <div class="web-revival__button web-revival__button--banner" aria-label="grow up banner">
          <img src="/assets/public/banners/growup2.gif" alt="grow up banner" />
        </div>
      </div>
    </div>

    <div class="web-revival__carousel" data-speed="0.32">
      <div class="web-revival__track">
        <a class="web-revival__button" href="https://32bit.cafe/" aria-label="32bit cafe">
          <img src="/assets/public/buttons/32bitcafe.gif" alt="32bit cafe" />
        </a>
        <div class="web-revival__button" aria-label="bttrpc">
          <img src="/assets/public/buttons/bttrpc.gif" alt="bttrpc" />
        </div>
        <div class="web-revival__button" aria-label="byesm">
          <img src="/assets/public/buttons/byesm.gif" alt="byesm" />
        </div>
        <div class="web-revival__button" aria-label="codehtml">
          <img src="/assets/public/buttons/codehtml.gif" alt="codehtml" />
        </div>
        <div class="web-revival__button" aria-label="firefox">
          <img src="/assets/public/buttons/ff.gif" alt="firefox" />
        </div>
        <div class="web-revival__button" aria-label="jquery">
          <img src="/assets/public/buttons/jquery.gif" alt="jquery" />
        </div>
        <div class="web-revival__button" aria-label="krisbtn">
          <img src="/assets/public/buttons/krisbtn.png" alt="krisbtn" />
        </div>
        <div class="web-revival__button" aria-label="neocities">
          <img src="/assets/public/buttons/neocities.gif" alt="neocities" />
        </div>
        <a class="web-revival__button" href="https://hillhouse.neocities.org/journal/notes/palestine" aria-label="palestine hillhouse">
          <img src="/assets/public/buttons/palestine-hillhouse.gif" alt="palestine hillhouse" />
        </a>
        <div class="web-revival__button" aria-label="psa6">
          <img src="/assets/public/buttons/psa6.png" alt="psa6" />
        </div>
        <a class="web-revival__button" href="https://undertale.com/" aria-label="undertale">
          <img src="/assets/public/buttons/undertale.gif" alt="undertale" />
        </a>
        <div class="web-revival__button" aria-label="capybara now">
          <img src="/assets/public/buttons/capybaraNOW.png" alt="capybara now" />
        </div>
        <div class="web-revival__button" aria-label="delete chrome">
          <img src="/assets/public/buttons/deletechrome3.png" alt="delete chrome" />
        </div>
        <div class="web-revival__button" aria-label="delete spotify">
          <img src="/assets/public/buttons/deletespotify2.png" alt="delete spotify" />
        </div>
        <div class="web-revival__button" aria-label="i like computer">
          <img src="/assets/public/buttons/ilikecomputer.png" alt="i like computer" />
        </div>
        <div class="web-revival__button" aria-label="Winamp">
          <img src="/assets/public/buttons/Winamp.gif" alt="Winamp" />
        </div>
        <div class="web-revival__button" aria-label="amiga friendly">
          <img src="/assets/public/buttons/amiga_friendly.gif" alt="amiga friendly" />
        </div>
        <div class="web-revival__button" aria-label="anarchy now">
          <img src="/assets/public/buttons/anarchy-now.gif" alt="anarchy now" />
        </div>
        <div class="web-revival__button" aria-label="best monitor">
          <img src="/assets/public/buttons/bestmonitor.gif" alt="best monitor" />
        </div>
        <div class="web-revival__button" aria-label="bandcamp button">
          <img src="/assets/public/buttons/button_bandcamp.png" alt="bandcamp button" />
        </div>
        <div class="web-revival__button" aria-label="club penguin">
          <img src="/assets/public/buttons/clubpenguin.gif" alt="club penguin" />
        </div>
        <div class="web-revival__button" aria-label="cookie free">
          <img src="/assets/public/buttons/cookiefree.gif" alt="cookie free" />
        </div>
        <div class="web-revival__button" aria-label="covid 19">
          <img src="/assets/public/buttons/covid-19.gif" alt="covid 19" />
        </div>
        <div class="web-revival__button" aria-label="creeper">
          <img src="/assets/public/buttons/creeper.gif" alt="creeper" />
        </div>
        <div class="web-revival__button" aria-label="css difficult">
          <img src="/assets/public/buttons/css-difficult.png" alt="css difficult" />
        </div>
        <div class="web-revival__button" aria-label="firefox animado">
          <img src="/assets/public/buttons/firefox_animado2.gif" alt="firefox animado" />
        </div>
        <div class="web-revival__button" aria-label="graphene">
          <img src="/assets/public/buttons/graphene.png" alt="graphene" />
        </div>
        <div class="web-revival__button" aria-label="internet explorer animated">
          <img src="/assets/public/buttons/ie_animated.jpg" alt="internet explorer animated" />
        </div>
        <div class="web-revival__button" aria-label="kodak">
          <img src="/assets/public/buttons/kodak.png" alt="kodak" />
        </div>
        <div class="web-revival__button" aria-label="net now">
          <img src="/assets/public/buttons/netnow.gif" alt="net now" />
        </div>
        <div class="web-revival__button" aria-label="nft">
          <img src="/assets/public/buttons/nft.gif" alt="nft" />
        </div>
        <div class="web-revival__button" aria-label="no webp">
          <img src="/assets/public/buttons/no_WEBP.gif" alt="no webp" />
        </div>
        <div class="web-revival__button" aria-label="nvim">
          <img src="/assets/public/buttons/nvim.png" alt="nvim" />
        </div>
        <div class="web-revival__button" aria-label="steam">
          <img src="/assets/public/buttons/steam.gif" alt="steam" />
        </div>
        <div class="web-revival__button" aria-label="svg now">
          <img src="/assets/public/buttons/svg-now.svg" alt="svg now" />
        </div>
        <div class="web-revival__button" aria-label="tjsbutton">
          <img src="/assets/public/buttons/tjsbutton.gif" alt="tjsbutton" />
        </div>
        <div class="web-revival__button" aria-label="web3">
          <img src="/assets/public/buttons/web3.png" alt="web3" />
        </div>
        <div class="web-revival__button" aria-label="windows 76">
          <img src="/assets/public/buttons/win76.gif" alt="windows 76" />
        </div>
        <div class="web-revival__button" aria-label="wired">
          <img src="/assets/public/buttons/wired.gif" alt="wired" />
        </div>
      </div>
    </div>

    <div class="web-revival__carousel web-revival__carousel--coolgifs" data-speed="0.2" data-direction="right">
      <div class="web-revival__track">
        <div class="web-revival__button web-revival__button--coolgif" aria-label="017 cool gif">
          <img src="/assets/public/coolgifs/017.gif" alt="017 cool gif" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="094 cool image">
          <img src="/assets/public/coolgifs/094.jpg" alt="094 cool image" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="3ds cool gif">
          <img src="/assets/public/coolgifs/3ds.gif" alt="3ds cool gif" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="dvd bounce gif">
          <img src="/assets/public/coolgifs/dvdbounce.gif" alt="dvd bounce gif" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="html sucks image">
          <img src="/assets/public/coolgifs/htmlsucks.png" alt="html sucks image" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="music life image">
          <img src="/assets/public/coolgifs/musiclife.webp" alt="music life image" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="peter gif">
          <img src="/assets/public/coolgifs/peter.gif" alt="peter gif" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="spongebob gif">
          <img src="/assets/public/coolgifs/spongebob.gif" alt="spongebob gif" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="typing gif">
          <img src="/assets/public/coolgifs/typeing.gif" alt="typing gif" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="wii gif">
          <img src="/assets/public/coolgifs/wii.gif" alt="wii gif" />
        </div>
        <div class="web-revival__button web-revival__button--coolgif" aria-label="wiiu gif">
          <img src="/assets/public/coolgifs/wiiu.gif" alt="wiiu gif" />
        </div>
      </div>
    </div>

  </div>
</fieldset>
